.modal-root {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.modal-container {
    width: 50%;
    background: lightgrey;
    border-radius: 3px;
    background: linear-gradient(135deg, lightgrey 55%, rgb(102, 100, 100) );
}

.close {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    padding: 5px;
}

.close button {
    border: none;
    background: none;
    border-radius: 5px 5px 0 0;
    
}

.close button:hover {
  cursor: pointer;
  color: rgb(6, 92, 240);
}

@media (max-width: 1200px) {
    .modal-container {
      width: 70%;
    }
  }

  @media (max-width: 600px) {
    .modal-container {
      width: 100%;
      min-height: 100vh;
    }

    .modal-root {
        min-height: 100vh; 
        overflow-y: scroll;
    }
  }