* {
  margin: 0;
}

h1 {
  text-align: center;
}

.movieCard {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid grey;
}

.cardBody {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cardBody img {
  width: 100%;
}

.cardBody button {
  width: 50%;
  padding: 2px;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  background: rgb(246,205,209);
}
