* {
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #181818;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 10px;
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 60px;
}

.pageTitle {
  width: 200px;
  font-size: 1.3rem;
}

.transition,
.error {
  text-align: center;
  align-self: center;
}

.error {
  font-size: 3rem;
  color: white;
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  height: calc(100vh);
  background-color: #181818;
}

@media (max-width: 1200px) {
  .moviesContainer {
    overflow-y: scroll;
  }
}

@media (max-width: 800px) {
  .titleContainer {
    height: 120px;
    flex-direction: column;
    gap: 2px;
    padding: 2px;
  }

  .moviesContainer {
    padding-top: 120px;
  }
}
