* {
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 10px;
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 60px;
}

.pageTitle {
  width: 200px;
}

.transition, .error {
  text-align: center;
  align-self: center;
  
}

.error {
  font-size: 3rem;
}

.transition {
  animation: spin 2s linear infinite;
  background: linear-gradient(lightgrey, rgb(6, 92, 240));
  border-radius: 50%;
  font-size: 10rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  height: calc(100vh);
  background-color: #181818;
}